*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

.contenitor{
    max-width: 1170px;
    width: 80%;
    margin: auto;
}


h1, p{
    margin: 3rem 0;
    text-align: center;
    color: #100f1a;
}

h1{
    color: deeppink;
}

.cards{
    background-color: #0f0e17;
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 10px;
}

.col1{

}
img{
    width: 30%;
    float: left;
}

.info_cards{
    padding: 30px;
}

h3{
    color: white;
}

.profession{
    color: white;
}

a{
    color: #57c6f1;
    text-decoration: none;
}