*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

.contenitor{
    max-width: 1170px;
    width: 80%;
    margin: auto;
}


h1, p{
    margin: 3rem 0;
    text-align: center;
    color: #100f1a;
}

h1{
    color: deeppink;
}

.cards{
    background-color: #0f0e17;
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 10px;
    box-shadow: 5px 5px 5px #c4c4c4;
    overflow: hidden;
    min-height: 100px;
    
}


img{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    float: left;
}

.info_card{
    padding: 15px;
    vertical-align: middle;
    float: left;
}

h3{
    color: white;
    padding-bottom: 5px;
}

.profession{
    color: white;
    padding-bottom: 5px;
}

a{
    color: #57c6f1;
    text-decoration: none;
}
